@inherits GroupElementBase

<Card>
    <CardHeader>
        <h1>@ViewModel.Title</h1>
    </CardHeader>
    <CardBody>
        <Table>
            <Container>
                @foreach (var child in ViewModel.Children)
                {
                    if (ViewModel.LayoutOrientation == Aptacode.Forms.Shared.Enums.LayoutOrientation.Vertical)
                    {                    
                        <Row>
                            <FormElement ViewModel="@child"/>
                         </Row>
                    }
                    else
                    {
                        <Column>
                            <FormElement ViewModel="@child"/>
                        </Column>
                    }

                }
            </Container>
        </Table>
    </CardBody>
</Card>