@inherits FormGroupBase

<Card>
    <CardHeader>
        <h1>@ViewModel.Title</h1>
    </CardHeader>
    <CardBody>
        <Table>
            <Container>
                @foreach (var row in ViewModel.Rows)
                {
                    <FormRow ViewModel="@row"/>
                }
            </Container>
        </Table>
    </CardBody>
</Card>