@inherits ButtonElementBase

<Field>
    <FieldLabel>@ViewModel.Label</FieldLabel>
    <FieldBody>
        <Button Color="Color.Primary" Block="true">@ViewModel.Content</Button>
    </FieldBody>
</Field>